<script>
    // Asegúrate de que esta función está disponible en el ámbito global o común
    function horasEncendido(horasEncendidoData, acumulado, machineDisplayId) { // Añade machineDisplayId
        const hencendido = document.getElementById(`hencendido_${machineDisplayId}`);
        const hapagado = document.getElementById(`hapagado_${machineDisplayId}`);
        const element_acumulado = document.getElementById(`acumulado_${machineDisplayId}`);

        const { horas_encendidas, horas_apagadas } = horasEncendidoData;
        if (hencendido) hencendido.innerHTML = horas_encendidas + " h.";
        if (hapagado) hapagado.innerHTML = horas_apagadas + " h.";
        if (element_acumulado) element_acumulado.innerHTML = acumulado;
    }
</script>